@charset "utf-8";
.fade-in__right {
    animation-name: fadeInRight;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
      }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in {
    animation-name: fade-in-anime;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    opacity:0;
}
@keyframes fade-in-anime {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-out {
    animation-name: fade-out-anime;
    animation-duration: 2.0s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fade-out-anime {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.delay-time__06 {
    animation-delay: 0.6s;
}
.delay-time__12 {
    animation-delay: 1.2s;
}
.delay-time__18 {
    animation-delay: 1.8s;
}
.delay-time__24 {
    animation-delay: 2.4s;
}