@charset "utf-8";
:root {
    --splash-background-color: #000000;
    --splash-text-color: #ffffff;
    --nav-area-background-color: #ffddf2;
}
html {
    font-size: 10px;
}
body {
    margin: 0; padding: 0;
}
.header {
    width: 100vw;
    padding: 1.6rem;
    background-color: var(--nav-area-background-color);
    border-bottom: 1px solid var(--nav-area-background-color);
    color: var(--splash-background-color);
}
.margin--0 {
    padding: 0; margin: 0;
}
.mt--10percent {
    margin-top: 10%;
}
.splash-screen h1 {
    font-size: 4.5rem;
    margin: auto;
    padding: 0.1rem;
    width: 40%;
    line-height: 4.0rem;
    color: var(--splash-text-color);
}
.z-index_0 {
    z-index: 0;
}
.z-index_1 {
    z-index: 1;
}
.text-align__center {
    text-align: center;
}
.hero, .splash-screen{
    display: flex;
    justify-content: space-around;
    width: 100VW;
    height: 100vh;
    background-color: var(--splash-background-color);
}
.hero .flex-items {
    display: flex;
    flex-direction: column;
}
.hero p {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
    color: var(--splash-text-color);
    font-size: 30px;
}
.hero .image {
    width: 300px;
    height: auto;
}
.hero .image:hover {
    cursor: pointer;
}
.block {
    display: block;
}
.footer {    
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100vw;
    background-color: var(--nav-area-background-color);
}
.content {
    height: 200px;
}