@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
.zen-antique {
    font-family: "Zen Antique", serif;
    font-weight: 200;
    font-style: normal;
}  
:root {
    --navbar-text-color: #000000;
    --splash-background-color: #000000;
    --splash-text-color: #ffffff;
    --nav-area-background-color: #ffffffa6;
}
html {
    font-size: 10px;
}
body {
    margin: 0; padding: 0;
}
header, footer {
    border-bottom: 1px solid #494949;
}
header {
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-area-background-color);
    transition: opacity 0.5s ease-in-out;
}
header h1 {
    font-weight: normal;
    padding: 1.0rem;
    margin: 0;
}
header span {
    padding: 1.0rem;
    font-size: 1.5rem;
}
header ul {
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
    color: var(--navbar-text-color);
}
header .visible {
    opacity: 1;
}
.menu-group {
    padding: 1.0rem;
}
.menu-item {
    font-size: 1.5rem;
    padding-left: 1.0rem;
    list-style: none;
    display: inline-block;
}
.menu-item:hover {
    color: #494949;
}
footer {
    position: relative;
}
footer i {
    font-size: 10.0rem;
    color: var(--splash-text-color);
}
footer i:hover {
    cursor: pointer;
}
footer .scroll-to-top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(50%);
    background-color: var(--splash-background-color);
    width: 11.0rem;
    height: 11.0rem;
}
footer .copyright {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 10.0rem;
    background-color: var(--splash-background-color);
}
footer p {
    display: inline-block;
    text-align: center;
    color: var(--splash-text-color);
}
.splash-screen h1 {
    font-size: 4.5rem;
    margin: auto;
    padding: 0.1rem;
    width: 40%;
    line-height: 4.0rem;
    color: var(--splash-text-color);
}
.splash-screen .subject {
    display: block;
}
.hero, .splash-screen{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: var(--splash-background-color);
}
.hero .flex-items {
    display: flex;
    flex-direction: column;
}
.hero p {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
    color: var(--splash-text-color);
    font-size: 30px;
}
.hero .image {
    width: 300px;
    height: auto;
}
.hero .image:hover {
    cursor: pointer;
}
.hero i {
    font-size: 10.0rem;
    color: var(--splash-text-color);
}
.hero i:hover {
    cursor: pointer;
}
.content {
    width: 70vw;
}
.content h1 {
    margin: 0;
    font-size: 4.0rem;
    letter-spacing: 1.5rem;
}
.content h2 {
    font-size: 2.8rem;
}
.content p {
    overflow-wrap: break-word;
    font-size: 3.0rem;
}
.content .text {
    font-size: 2.5rem;
}
.content img {
    width: 45%;
    height: auto;
}
.content i {
    font-size: 5.0rem;
}
.content .full-screen {
    width: 65%;
    height: auto;
}
.link-button {
    margin: 1.0rem;
    padding: 1.0rem;
    font-size: 2.0rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    text-decoration: none;
    color: var(--navbar-text-color);
    border: 0.15rem solid #494949;
}
.z-index__0 {
    z-index: 0;
}
.z-index__1 {
    z-index: 1;
}
.mt__5rem {
    margin-top: 5.0rem;
}
.mb__5rem {
    margin-bottom: 5.0rem;
}
.mt__10rem {
    margin-top: 10.0rem;
}
.mb__10rem {
    margin-bottom: 10.0rem;
}
.mr-ml__auto {
    margin-right: auto;
    margin-left: auto;
}
.height__50vh {
    height: 50vh;
}
.height__100vh {
    height: 100vh;
}
.text-align__center {
    text-align: center;
}
.text-align__right {
    text-align: right;
}
.text-align__left {
    text-align: left;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block {
    display: block;
}