@charset "utf-8";
:root {
    --navbar-text-color: #000000;
    --splash-background-color: #000000;
    --splash-text-color: #ffffff;
    --nav-area-background-color: #ffffffa6;
}
html {
    font-size: 10px;
}
body {
    margin: 0; padding: 0;
}
header, footer {
    padding: 1.6rem;
    border-bottom: 1px solid var(--nav-area-background-color);
    color: var(--splash-background-color);
}
header {
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-area-background-color);
}
header h1 {
    font-weight: normal;
    padding: 1.0rem;
    margin: 0;
}
header span {
    padding: 1.0rem;
    font-size: 1.5rem;
}
header ul {
    padding: 0;
    margin: 0;
}
header a{
    text-decoration: none;
    color: var(--navbar-text-color);
}
header .menu-group {
    padding: 1.0rem;
}
header .menu-item {
    list-style: none;
    display: inline-block;
}
footer {
    background-color: var(--splash-background-color);
}
.splash-screen h1 {
    font-size: 4.5rem;
    margin: auto;
    padding: 0.1rem;
    width: 40%;
    line-height: 4.0rem;
    color: var(--splash-text-color);
}
.hero, .splash-screen{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: var(--splash-background-color);
}
.hero .flex-items {
    display: flex;
    flex-direction: column;
}
.hero p {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
    color: var(--splash-text-color);
    font-size: 30px;
}
.hero .image {
    width: 300px;
    height: auto;
}
.hero .image:hover {
    cursor: pointer;
}
.block {
    display: block;
}
.content {
    width: 80vw;
}
.content h1 {
    margin: 0;
    font-size: 4.0rem;
    letter-spacing: 1.5rem;
}
.content p {
    overflow-wrap: break-word;
    font-size: 3.0rem;
}
.z-index__0 {
    z-index: 0;
}
.z-index__1 {
    z-index: 1;
}
.mt__10rem {
    margin-top: 10.0rem;
}
.mb__10rem {
    margin-bottom: 10.0rem;
}
.mr-ml__auto {
    margin-right: auto;
    margin-left: auto;
}
.text-align__center {
    text-align: center;
}